<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/static/res/logo.svg" />

		<title>Clap Admin</title>
		<script type="module" crossorigin src="/static/assets/modulepreload-polyfill-3cfb730f.js"></script>
		<link rel="stylesheet" href="/static/assets/auth-be525892.css">
		<link rel="stylesheet" href="/static/assets/global-7b5129c4.css">
	</head>
	<body>
		<section id="app">
			<form id="form" method="POST">
				<header>
					<img src="/static/res/logo.svg" id="logo" />
					<h1>Restaurant</h1>
				</header>

				<div class="just-input">
					<label>Password</label>
					<input type="password" name="password" required />
				</div>

				<button id="submit" type="submit">Login</button>
			</form>
		</section>

		
	</body>
</html>
