<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" crossorigin src="/static/assets/modulepreload-polyfill-3cfb730f.js"></script>
    <link rel="stylesheet" href="/static/assets/email-4f40df30.css">
  </head>
  <body>
    <section id="app">
      <section id="view">
        <header>
          <img src="/static/res/logo.svg" id="logo" />
        </header>

        <section id="content">
          <span class="text">Ваш пароль успешно сброшен!</span>

          <div class="info-view">Ваш новый пароль: 123</div>
          <div class="info-view">Ваш новый пароль: 123</div>
        </section>

        <span id="caption">With love Clap Team ❤️</span>
      </section>
    </section>

    
  </body>
</html>
